version: 1

input:
	config:
		extensions:
			messenger: Contributte\Messenger\DI\MessengerExtension()

		messenger:
			bus:
				messageBus:
					middlewares:
						dummy1: Tests\Mocks\Scenario\ScenarioMiddleware()
						dummy2: @middleware

		services:
			middleware: Tests\Mocks\Scenario\ScenarioMiddleware

output:
	services:
		counting:
			- { Symfony\Component\Messenger\MessageBus: { count: 1 }}
			- { Symfony\Component\Messenger\Middleware\MiddlewareInterface: { count: 6 }}
