version: 1

input:
	config:
		extensions:
			messenger: Contributte\Messenger\DI\MessengerExtension()

		messenger:
			transport:
				test:
					dsn: in-memory://

			routing:
				Tests\Mocks\Scenario\ScenarioMessage: [test]

output:
	services:
		counting:
			- { Symfony\Component\Messenger\Transport\Sender\SendersLocator: { count: 1 }}
