version: 1

input:
	config:
		extensions:
			messenger: Contributte\Messenger\DI\MessengerExtension()

		messenger:
			serializer:
				php1: Symfony\Component\Messenger\Transport\Serialization\PhpSerializer
				php2: @serializer

		services:
			serializer: Symfony\Component\Messenger\Transport\Serialization\PhpSerializer

output:
	services:
		counting:
			- { Symfony\Component\Messenger\Transport\Serialization\SerializerInterface: { count: 4 }}
