version: 1

input:
	config:
		extensions:
			messenger: Contributte\Messenger\DI\MessengerExtension()

		messenger:
			transport:
				memory:
					dsn: in-memory://

output:
	services:
		counting:
			- { Symfony\Component\Messenger\Transport\TransportInterface: { count: 1 }}
