version: 1

input:
	config:
		extensions:
			messenger: Contributte\Messenger\DI\MessengerExtension()

		messenger:
			transport:
				memory1:
					dsn: in-memory://
					failureTransport: memory2
				memory2:
					dsn: in-memory://

output:
	services:
		counting:
			- { Symfony\Component\Messenger\Transport\TransportInterface: { count: 2 }}
		tags:
			- { "contributte.messenger.failure_transport": { count: 1 }}
