version: 1

input:
	config:
		extensions:
			messenger: Contributte\Messenger\DI\MessengerExtension()

		messenger: []

output:
	services:
		existence:
		- { Contributte\Messenger\Bus\BusRegistry: { exists: true }}
		counting:
		- { Symfony\Component\Messenger\Transport\Serialization\SerializerInterface: { count: 1 }}
		- { Symfony\Component\Messenger\Middleware\MiddlewareInterface: { count: 0 }}
		- { Symfony\Component\Messenger\Transport\TransportFactoryInterface: { count: 5 }}
		- { Symfony\Component\Messenger\Transport\TransportInterface: { count: 0 }}
