version: 1

input:
	config:
		extensions:
			messenger: Contributte\Messenger\DI\MessengerExtension()

		messenger:

output:
	services:
		counting:
			- { Symfony\Component\EventDispatcher\EventSubscriberInterface: { count: 1 }}
