version: 1

input:
	config:
		extensions:
			messenger: Contributte\Messenger\DI\MessengerExtension()

		messenger:
			transport:
				memory1:
					dsn: in-memory://
					options:
						serialize: false

				memory2:
					dsn: in-memory://
					options:
						serialize: true

output:
	services:
		counting:
			- { Symfony\Component\Messenger\Transport\TransportInterface: { count: 2 }}
