input:
    config:
        extensions:
            messenger: Contributte\Messenger\DI\MessengerExtension()

        messenger:
            transport:
                sync:
                    dsn: sync://

            routing:
                Tests\Mocks\Message\SimpleMessage: [sync]

        services:
            - Tests\Mocks\Handler\SimpleHandler

    dispatch:
        bus: messageBus
        message: Tests\Mocks\Message\SimpleMessage("foobar")

output:
    logger:
        - level: info
          message: 'Sending message {class} with {alias} sender using {sender}'
          context:
            class: Tests\Mocks\Message\SimpleMessage
            alias: sync
            sender: 'Symfony\Component\Messenger\Transport\Sync\SyncTransport'

        - level: info
          message: 'Received message {class}'
          context:
            class: Tests\Mocks\Message\SimpleMessage

        - level: info
          message: 'Message {class} handled by {handler}'
          context:
            class: Tests\Mocks\Message\SimpleMessage
            handler: 'Tests\Mocks\Handler\SimpleHandler::__invoke'
